*
    margin: 0
    padding: 0

p
    z-index: 1
    position: absolute
    top: 0
    margin: 20px auto
    right: 0
    width: 40%

.computer
    position: absolute
    height: 100%

.Background__image
    width: 240px
    height: 250px
    position: absolute
    top: 40px
    left: 210px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
